<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Создать запрос</title>
        <link th:href="@{~/css/add-form.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{~/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{~/css/toast.css}" rel="stylesheet" type="text/css"/>
        <script th:src="@{~/js/bootstrap.js}" rel="script" type="text/javascript"></script>
        <script th:src="@{~/js/request/add.js}" rel="script" type="text/javascript"></script>
        <script th:src="@{~/js/jQuery.js}" rel="script" type="text/javascript"></script>
        <script th:src="@{~/js/toast.js}" rel="script" type="text/javascript"></script>
    </head>
    <body>

        <div th:insert="blocks/navigation"></div>

        <main class="login-form">
            <section class="login-clean">
                <section style="max-width: 40em">
                    <h4 class="h4 text-center">Создание обращения</h4>
                    <div class="illustration">
                        <img class="img-fluid" th:src="@{~/img/request.png}" style="max-width: 20vw; max-height: 15vw">
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="name">Название обращения</label>
                            <input class="form-control" type="text" id="name" name="name" placeholder="Название обращения" required/>
                        </div>

                        <div class="col">
                            <label for="priority">Приоритет</label>
                            <select id="priority" name="priority" class="field-select form-select" required style="padding-bottom: 10px">
                                <option value="LOW">Низкий</option>
                                <option value="NORMAL">Нормальный</option>
                                <option value="MAX">Высокий</option>
                            </select>
                        </div>
                        <br><br>
                        <div class="row" style="padding-top: 1em">
                            <label class="form-label" for="description">Описание проблемы</label>
                            <textarea name="description" id="description" class="form-control" style="resize: none; margin-left: 10px; height: auto" rows="5"></textarea>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 1em">
                        <label class="form-label" for="files">Загрузите файлы</label>
                        <input multiple="multiple" name="files" id="files" type="file" class="form-control" accept=".jpg,.jpeg,.png" value="Выберите файлы">
                    </div>

                    <div class="mb-3">
                        <button onclick="add();" class="btn btn-primary d-block w-100" type="submit">Отправить</button>
                    </div>
                </section>
            </section>
        </main>
    </body>
</html>