<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Ваши обращения</title>
        <link rel="shortcut icon" th:href="@{~/img/help.png}" type="image/png">
        <link th:href="@{~/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
        <script th:src="@{~/js/bootstrap.js}" rel="script" type="text/javascript"></script>
        <script sec:authorize="hasRole('ROLE_OPERATOR')" th:src="@{~/js/jQuery.js}" rel="script" type="text/javascript"></script>
        <script sec:authorize="hasRole('ROLE_OPERATOR')" th:src="@{~/js/requests.js}" rel="script" type="text/javascript"></script>
    </head>
    <body>

        <div th:insert="blocks/navigation"></div>

        <main style="min-height: 38vw">

            <div class="row" style="margin-right: 0">
                <h1 class="h1 col-md-9" th:text="'Обращения пользователя ' + ${user.username}"></h1>
                <input value="Создать обращение" type="button" class="btn col-md-2 btn-primary" onclick="window.location.href = '/requests/add'" style="margin: 1vw 1vw 1vw 7vw;">
            </div>

            <table class="table table-responsive" style="text-align: center; vertical-align: middle;">
                <caption th:text="'Всего записей: ' + ${requests.size()}"></caption>
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Наименование</th>
                        <th scope="col">Статус</th>
                        <th scope="col">Приоритет</th>
                        <th scope="col">Оператор</th>
                    </tr>
                </thead>
                <tbody th:if="not ${#lists.isEmpty(requests)}" th:each="request : ${requests}" style="overflow-y: scroll">
                    <tr>
                        <td th:text="${request?.id}"></td>
                        <td th:text="${request?.name}"></td>
                        <td th:switch="${request?.status}">
                            <label th:id="'request_status_' + ${request?.id}" th:case="${T(com.terflo.helpdesk.model.entity.enums.RequestStatus).IN_PROCESS}">В работе</label>
                            <label th:id="'request_status_' + ${request?.id}" th:case="${T(com.terflo.helpdesk.model.entity.enums.RequestStatus).CLOSED}">Закрыто</label>
                            <label th:id="'request_status_' + ${request?.id}" th:case="${T(com.terflo.helpdesk.model.entity.enums.RequestStatus).BEGINNING}">Начато</label>
                        </td>
                        <td th:switch="${request?.priority}">
                            <label th:case="${T(com.terflo.helpdesk.model.entity.enums.PriorityStatus).LOW}">Низкий</label>
                            <label th:case="${T(com.terflo.helpdesk.model.entity.enums.PriorityStatus).NORMAL}">Средний</label>
                            <label th:case="${T(com.terflo.helpdesk.model.entity.enums.PriorityStatus).MAX}">Высокий</label>
                        </td>
                        <td>
                            <a th:href="'/user/' + ${request?.operator?.username}" th:text="${request?.operator?.username}"></a>
                        </td>
                        <td>
                            <a th:href="'/requests/' + ${request?.id}"><img th:src="@{~/img/loupe.png}" style="height: 2vw" alt="see details"></a>
                        </td>
                        <td sec:authorize="hasRole('ROLE_OPERATOR')" th:if="${request?.status == T(com.terflo.helpdesk.model.entity.enums.RequestStatus).CLOSED}">
                            <input disabled type="image" th:src="@{~/img/close.png}" style="height: 2vw">
                        </td>
                        <td sec:authorize="hasRole('ROLE_OPERATOR')" th:id="'close_button_' + ${request?.id}" th:unless="${request?.status == T(com.terflo.helpdesk.model.entity.enums.RequestStatus).CLOSED}">
                            <input th:onclick="'closeRequest(' + ${request?.id} + ');'" type="image" th:src="@{~/img/close.png}" style="height: 2vw">
                        </td>
                    </tr>
                </tbody>
            </table>
        </main>
        <div th:insert="blocks/footer"></div>
    </body>
</html>