<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Запрос</title>

        <link th:href="@{../css/bootstrap.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{../css/chat.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{../css/toast.css}" rel="stylesheet" type="text/css"/>

        <script th:src="@{../js/bootstrap.js}" rel="script" type="text/javascript"></script>
        <script th:src="@{../js/sockjs.js}" rel="script" type="text/javascript"></script>
        <script th:src="@{../js/jQuery.js}" rel="script" type="text/javascript"></script>
        <script th:src="@{../js/dateformat.js}" rel="script" type="text/javascript"></script>
        <script th:src="@{../js/stomp.js}" rel="script" type="text/javascript"></script>
        <script th:src="@{../js/chat.js}" rel="script" type="text/javascript"></script>
        <script th:src="@{../js/toast.js}" rel="script" type="text/javascript"></script>

        <style>
            .row {
                margin-left: 0;
            }
        </style>

    </head>
    <body>

        <div th:insert="blocks/navigation"></div>

        <main class="w-50 mx-auto">
            <div class="container container-request col-md-12 col-lg-12">
            <h2 class="h2 mb-3" th:text="'Обращение #' + ${userRequest.id}" style="margin-left: 10px"></h2>
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label class="row form-label" for="requestName">Наименование проблемы
                            <input class="row form-control" id="requestName" name="requestName" readonly th:value="${userRequest.name}" type="text">
                        </label>
                    </div>
                    <div class="col-sm-6">
                        <label class="row form-label">Приоритет
                            <input th:value="${userRequest?.status.toString()}" type="text" name="priority" class="row form-control" readonly/>
                        </label>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label class="row form-label">Статус
                            <input class="row form-control" name="requestName" readonly th:value="${userRequest.status.toString()}" type="text">
                        </label>
                    </div>
                    <div class="col-sm-6">
                        <label class="row form-label" for="requestDate">Дата создания
                            <input th:value="${#dates.format(userRequest.date, 'dd.MM.yyyy HH:mm')}" type="text" id="requestDate" name="priority" class="row form-control" readonly/>
                        </label>
                    </div>

                    <div class="col-12">
                        <label for="requestDescription" class="form-label col-12">Описание проблемы
                            <textarea readonly rows="6" class="form-control" id="requestDescription" style="resize: none; overflow-y: scroll;" th:text="${userRequest.description}"></textarea>
                        </label>
                    </div>
                </div>





            <br>
            <h5 class="h5">Чат с оператором тех-поддержки:</h5>
            <div class="container-fluid chat-container">
                    <ul id="chat-box" class="chat-box chatContainerScroll" style="min-height: 40vw; max-height: 40vw">
                        <li class="chat-right" th:each="message : ${messages}" th:attr="class=${message.sender.username == user.username ? 'chat-right' : 'chat-left'}">
                            <div th:unless="${message?.sender.username != user.username}" class="chat-hour" th:text="${#dates.format(message?.date, 'HH:mm')}">
                                <span class="fa fa-check-circle"></span>
                            </div>
                            <div th:if="${message?.sender.username != user.username}" class="chat-avatar">
                                <img th:if="${avatars.get(message?.sender.id)} != null" th:src="${avatars.get(message?.sender.id)}" alt="Avatar">
                                <img th:unless="${avatars.get(message?.sender.id)} != null" th:src="@{~/img/user.png}" alt="Avatar">
                                <div class="chat-name" th:text="${message?.sender.username}"></div>
                            </div>
                            <div class="chat-text" th:text="${message?.message}"></div>
                            <div th:unless="${message?.sender.username != user.username}" class="chat-avatar">
                                <img th:if="${avatars.get(message?.sender.id)} != null" th:src="${avatars.get(message?.sender.id)}" alt="Avatar">
                                <img th:unless="${avatars.get(message?.sender.id)} != null" th:src="@{~/img/user.png}" alt="Avatar">
                                <div class="chat-name" th:text="${message?.sender.username}"></div>
                            </div>
                            <div th:if="${message?.sender.username != user.username}" class="chat-hour" th:text="${#dates.format(message?.date, 'HH:mm')}"> <span class="fa fa-check-circle"></span></div>
                        </li>
                    </ul>
                <div class="row">
                    <label>Ваше сообщение
                        <textarea id="message" style="resize: none" class="col-sm-4 form-control" rows="3" placeholder="Введите текст сообщения..."></textarea>
                        <button id="send-button" class="col-sm-2 form-control" onclick="sendMessage()">Отправить</button>
                    </label>
                </div>
                </div>
            </div>
        </main>
        <div th:insert="blocks/footer"></div>
    </body>
    <!-- Инициализация переменных и работа с элементами страницы -->
    <script th:inline="javascript">
        const messageContainer = document.getElementById('chat-box');
        const request = [[${userRequest}]];
        const user = [[${user}]];
        messageContainer.scrollTop = messageContainer.scrollHeight;
        if(request.status === 'CLOSED') {
            $('#send-button').prop('disabled', true);
            $('#message').prop('disabled', true);
        }
    </script>
</html>
