<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Запросы</title>
        <link rel="shortcut icon" th:href="@{~/img/help.png}" type="image/png">
        <link th:href="@{~/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
        <script th:src="@{~/js/bootstrap.js}" rel="script" type="text/javascript"></script>
        <script th:src="@{~/js/jQuery.js}" rel="script" type="text/javascript"></script>
        <script th:src="@{~/js/request/requests.js}" rel="script" type="text/javascript"></script>
    </head>
    <body>
        <div th:insert="blocks/navigation"></div>
        <main style="min-height: 38vw">
            <h1 th:text="'Обращения курируемые пользователем ' + ${name}"></h1>
            <table class="table" style="text-align: center; vertical-align: middle;">
                <caption th:text="'Всего записей: ' + ${requests.size()}"></caption>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Наименование</th>
                        <th>Статус</th>
                        <th>Приоритет</th>
                        <th>Отправитель</th>
                    </tr>
                </thead>
                <tbody th:if="not ${#lists.isEmpty(requests)}" th:each="request : ${requests}">
                    <tr>
                        <td th:text="${request?.id}"></td>
                        <td th:text="${request?.name}"></td>
                        <td style="width: 30vw">
                            <label style="width: 100%">
                                <textarea class="form-control" rows="2" th:text="${request?.description}" style="resize: none; overflow-y: scroll;" readonly></textarea>
                            </label>
                        </td>
                        <td  th:switch="${request?.status}">
                            <label th:id="'request_status_' + ${request?.id}" th:case="${T(com.terflo.helpdesk.model.entity.enums.RequestStatus).IN_PROCESS}">В работе</label>
                            <label th:id="'request_status_' + ${request?.id}" th:case="${T(com.terflo.helpdesk.model.entity.enums.RequestStatus).CLOSED}">Закрыто</label>
                            <label th:id="'request_status_' + ${request?.id}" th:case="${T(com.terflo.helpdesk.model.entity.enums.RequestStatus).BEGINNING}">Начато</label>
                        </td>
                        <td th:switch="${request?.priority}">
                            <label th:case="${T(com.terflo.helpdesk.model.entity.enums.PriorityStatus).LOW}" th:text="'Низкий'"></label>
                            <label th:case="${T(com.terflo.helpdesk.model.entity.enums.PriorityStatus).NORMAL}" th:text="'Средний'"></label>
                            <label th:case="${T(com.terflo.helpdesk.model.entity.enums.PriorityStatus).MAX}" th:text="'Высокий'"></label>
                        </td>
                        <td>
                            <a th:href="'/user/' + ${request?.user?.username}" th:text="${request?.user?.username}"></a>
                        </td>
                        <td>
                            <a th:href="'/requests/' + ${request?.id}"><img th:src="@{~/img/loupe.png}" style="height: 2vw" alt="see details"></a>
                        </td>
                        <td th:if="${request?.status == T(com.terflo.helpdesk.model.entity.enums.RequestStatus).CLOSED}">
                            <input disabled type="image" th:src="@{~/img/close.png}" style="height: 2vw">
                        </td>
                        <td th:id="'close_button_' + ${request?.id}" th:unless="${request?.status == T(com.terflo.helpdesk.model.entity.enums.RequestStatus).CLOSED}">
                            <input th:onclick="'closeRequest(' + ${request?.id} + ');'" type="image" th:src="@{~/img/close.png}" style="height: 2vw">
                        </td>

                    </tr>
                </tbody>
            </table>
        </main>
        <div th:insert="blocks/footer"></div>
    </body>
</html>