<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8" content="text/html">
        <title>Регистрация</title>
        <link rel="shortcut icon" th:href="@{~/img/help.png}" type="image/png">

        <link th:href="@{~/css/toast.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{~/css/registration.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{~/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>

        <script th:src="@{~/js/registration.js}" rel="script" type="text/javascript"></script>
        <script th:src="@{~/js/jQuery.js}" rel="script" type="text/javascript"></script>
        <script th:src="@{~/js/toast.js}" rel="script" type="text/javascript"></script>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    </head>

    <body>
        <div th:insert="blocks/navigation"></div>
        <main>
            <section class="login-clean">
                <form th:action="@{/registration}" method="post">

                    <div class="mb-3">
                        <input th:value="${data?.username}" class="form-control" type="text" id="username" name="username" placeholder="Имя пользователя" onchange="checkRegistrationData();" required autofocus/>
                    </div>

                    <div class="mb-3">
                        <input th:value="${data?.email}" class="form-control" type="text" id="email" name="email" placeholder="Почта" onchange="checkRegistrationData();" required autofocus/>
                    </div>

                    <div class="mb-3">
                        <input th:value="${data?.password}" class="form-control" type="password" id="password" name="password" placeholder="Пароль" onchange="checkRegistrationData();" required />
                    </div>

                    <div class="mb-3">
                        <input th:value="${data?.passwordConfirm}" class="form-control" type="password" id="password-confirm" name="passwordConfirm" placeholder="Повторите пароль" onchange="checkRegistrationData();" required />
                    </div>

                    <div class="mb-3 alert alert-danger hidden" id="username-already-exists" role="alert">
                        <span>Такое имя пользователя уже существует</span>
                    </div>

                    <div class="mb-3 alert alert-danger hidden" id="incorrect-username" role="alert">
                        <span>Некорректное имя пользователя</span>
                    </div>

                    <div class="mb-3 alert alert-danger hidden" id="incorrect-email" role="alert">
                        <span>Некорректный email</span>
                    </div>

                    <div class="mb-3 alert alert-danger hidden" id="password-not-match" role="alert">
                        <span>Пароль не совпадает</span>
                    </div>

                    <div class="mb-3 alert alert-danger hidden" id="password-too-short" role="alert">
                        <span>Пароль слишком короткий</span>
                    </div>

                    <div class="g-recaptcha mb-3"
                         th:attr="data-sitekey=${@captchaSettings.getSite()}"></div>

                    <section th:if="not ${#lists.isEmpty(errors)}" th:each="error : ${errors}">
                        <div class="mb-3 alert alert-danger" role="alert">
                            <span th:text="${error}"></span>
                        </div>
                    </section>

                    <div class="mb-3">
                        <button class="btn btn-primary d-block w-100" type="submit">Зарегестрироваться</button>
                    </div>
                </form>
            </section>
        </main>

        <footer th:insert="blocks/footer"></footer>

    </body>
</html>