<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" content="text/html">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <title>Восстановление пароля</title>
        <link rel="shortcut icon" th:href="@{~/img/help.png}" type="image/png">
        <link th:href="@{~/css/restore-password.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{~/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{~/css/toast.css}" rel="stylesheet" type="text/css"/>
        <script th:src="@{~/js/jQuery.js}" rel="script" type="text/javascript"></script>
        <script th:src="@{~/js/toast.js}" rel="script" type="text/javascript"></script>
        <script th:src="@{~/js/user/restore-password.js}" rel="script" type="text/javascript"></script>
        <script th:src="@{~/js/bootstrap.js}" rel="script" type="text/javascript"></script>
    </head>
    <main class="login-form" style="height: 100vh; background: #f1f7fc;">
        <section class="login-clean">
            <section>
                <h5 class="h5 text-center">Восстановление пароля</h5>
                <div class="illustration">
                    <img class="img-thumbnail" th:src="@{~/img/restore-password.png}" alt="restore password image">
                </div>
                <div class="mb-3">
                    <label for="email">Укажите ваш email:</label>
                    <input class="form-control" type="text" id="email" name="username" placeholder="Ваш email" required/>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary d-block w-100" type="submit" onclick="restorePassword()">Восстановить пароль</button>
                </div>
            </section>
        </section>
    </main>

    <div class="modal" id="infoModal" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="d-flex justify-content-center" style="margin-top: 3vh; margin-bottom: 3vh;">
                        На адрес электронной почты отправлено сообщение...
                    </div>
                </div>
            </div>
        </div>
    </div>

</html>