.error-template {
    padding: 40px 15px;
    text-align: center;
}

.error-actions {
    margin-top: 15px;
    margin-bottom: 15px;
}

.error-actions .btn {
    margin-right: 10px;
}

.cat {
    float: right;
    position: absolute;
    top: 7vh;
    right: 15vw;
    max-width: 40vw;
    max-height: 40vh;
}