<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Запросы</title>
    <link th:href="@{../css/requests.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div th:insert="blocks/navigation"></div>
<h1 th:text="'Cвободные обращения'"></h1>

<br>
<br>

<table class="table">
    <thead>
    <tr>
        <th>Номер</th>
        <th>Наименование</th>
        <th>Статус</th>
        <th>Приоритет</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody th:if="not ${requests.empty}" th:each="request : ${requests}">
    <tr>
        <td th:text="${request.id}"></td>
        <td th:text="${request.name}"></td>
        <td th:text="${request.status}"></td>
        <td th:text="${request.priority}"></td>
        <td><a th:href="@{/requests/} + ${request.id}">Просмотреть</a></td>
        <td><form th:method="post" th:action="@{/requests/accept/} + ${request.id}"><input style="width: 5%" class="panel-button" type="image" th:src="@{../img/ok.png}" alt=""></form></td>
    </tr>
    </tbody>
</table>
<div th:insert="blocks/footer"></div>
</body>
</html>