<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Запрос</title>

        <link th:href="@{../css/requests.css}" rel="stylesheet" type="text/css"/>

    </head>
    <body>
        
    </body>
</html>



<!--
                <div class="container">
                    <img th:src="@{../img/support.png}" alt="Avatar" style="width:100%;">
                    <p>Hello. How are you today?</p>
                    <span class="time-right">11:00</span>
                </div>

                <div class="container darker">
                    <img th:src="@{../img/support.png}" alt="Avatar" class="right" style="width:100%;">
                    <p>Hey! I'm fine. Thanks for asking!</p>
                    <span class="time-left">11:01</span>
                </div>
-->
