<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="shortcut icon" th:href="@{~/img/help.png}" type="image/png">
        <meta charset="UTF-8" content="text/html">
        <link th:href="@{~/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{~/css/index.css}" rel="stylesheet" type="text/css"/>
        <script th:src="@{~/js/bootstrap.js}" rel="script" type="text/javascript"></script>
        <title>Главная</title>
    </head>
    <body>
        <div th:insert="blocks/navigation"></div>
        <main>
            <section class="py-5 text-center container">
                <div class="row py-lg-5">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <h1 class="font-weight-light">Help Desk</h1>
                        <p class="lead text-muted">Служба технической поддержки и помощи пользователям</p>
                        <p>
                            <a th:href="@{/requests/add}" class="btn btn-primary my-2">Задать вопрос</a>
                        </p>
                    </div>
                </div>
            </section>
            <div class="accordion" id="accordionExample">
                <h4 class="h4">Часто задаваемые вопросы:</h4>
                <div th:each="decision : ${decisions}" class="accordion-item">
                    <h2 class="accordion-header" th:id="'heading' + ${decision?.id}">
                        <button th:text="${decision?.name}" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" th:data-bs-target="'#collapse' + ${decision?.id}" aria-expanded="true" th:aria-controls="'#collapse' + ${decision?.id}"></button>
                    </h2>
                    <div th:id="'collapse' + ${decision?.id}" class="accordion-collapse collapse" th:aria-labelledby="'heading' + ${decision?.id}" data-bs-parent="#accordionExample">
                        <div th:text="${decision?.answer}" class="accordion-body"></div>
                    </div>
                </div>
            </div>
        </main>
        <div th:insert="blocks/footer"></div>
    </body>
</html>