<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Запрос</title>

        <link th:href="@{../css/requests.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{../css/chat.css}" rel="stylesheet" type="text/css"/>

        <script th:src="@{../js/sockjs.js}" rel="script" type="text/javascript"></script>
        <script th:src="@{../js/jQuery.js}" rel="script" type="text/javascript"></script>
        <script th:src="@{../js/dateformat.js}" rel="script" type="text/javascript"></script>
        <script th:src="@{../js/stomp.js}" rel="script" type="text/javascript"></script>
        <script th:src="@{../js/chat.js}" rel="script" type="text/javascript"></script>
    </head>
    <body>
        <ul class="form-style-1">
            <li>
                <label th:text="'Обращение №' + ${userRequest.id}"></label>
            </li>
            <li>
                <label for="name">Наименование проблемы</label>
                <input th:value="${userRequest.name}" type="text" id="name" name="name" class="field-long" readonly/>
            </li>
            <li>
                <label for="priority">Приоритет</label>
                <input th:value="${userRequest.priority}" type="text" id="priority" name="priority" class="field-long" readonly/>
            </li>
            <li>
                <label for="priority">Статус</label>
                <input th:value="${userRequest.status}" type="text" id="priority" name="priority" class="field-long" readonly/>
            </li>
            <li>
                <label>Описание проблемы</label>
                <label for="description"></label><textarea th:text="${userRequest.description}" name="description" id="description" class="field-long field-textarea" readonly></textarea>
            </li>
        </ul>

        <h2>Чат с оператором технической поддержки:</h2>



        <div class="chat-container" id="chat-container">
            <div class="message-container" id="message-container">
                <div class="" th:each="message : ${messages}">
                    <div th:switch="${message?.sender}">
                        <div th:case="${userID}" class="darker container">
                            <img th:src="@{../img/support.png}" class="right" alt="Avatar" style="width:100%;">
                            <p th:text="${message?.message}"></p>
                            <span th:text="${#dates.format(message?.date, 'dd.MM.yyyy HH:mm')}" class="time-left"></span>
                        </div>
                        <div th:case="*" class="container">
                            <img th:src="@{../img/support.png}" alt="Avatar" style="width:100%;">
                            <p style="text-align: right" th:text="${message?.message}"></p>
                            <span th:text="${#dates.format(message?.date, 'dd.MM.yyyy HH:mm')}" class="time-right"></span>
                        </div>
                    </div>
                </div>
            </div>

            <br>

            <div class="message-field-container">
                <label for="message">Сообщение: </label>
                <input class="message-field" id="message" name="message" type="text" required>
                <button id="send-button" name="send-button" onclick="sendMessage()">Отправить</button>
            </div>
        </div>
    </body>

    <!-- Инициализация переменных и работа с элементами страницы -->
    <script th:inline="javascript">
        const messageContainer = document.getElementById('message-container');
        const requestID = [[${userRequest.id}]];
        const userID = [[${userID}]];
        messageContainer.scrollTop = messageContainer.scrollHeight;
    </script>

</html>



<!--
                <div class="container">
                    <img th:src="@{../img/support.png}" alt="Avatar" style="width:100%;">
                    <p>Hello. How are you today?</p>
                    <span class="time-right">11:00</span>
                </div>

                <div class="container darker">
                    <img th:src="@{../img/support.png}" alt="Avatar" class="right" style="width:100%;">
                    <p>Hey! I'm fine. Thanks for asking!</p>
                    <span class="time-left">11:01</span>
                </div>
-->
