<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Ваши обращения</title>
        <link th:href="@{~/css/requests.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{~/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
        <script th:src="@{~/css/bootstrap.js}" rel="script" type="text/javascript"></script>
    </head>
    <body>

    <div th:insert="blocks/navigation"></div>

    <h1 th:text="'Обращения пользователя ' + ${user.username}"></h1>

    <br>
    <br>

    <table class="table">
        <thead>
            <tr>
                <th>Номер</th>
                <th>Наименование</th>
                <th>Статус</th>
                <th>Приоритет</th>
                <th>Оператор</th>
                <th></th>
                <th th:if="${#sets.contains(user.roles, 'ROLE_OPERATOR')}"></th>
            </tr>
        </thead>
        <tbody th:if="not ${requests.empty}" th:each="request : ${requests}">
            <tr>
                <td th:text="${request?.id}"></td>
                <td th:text="${request?.name}"></td>
                <td th:text="${request?.status}"></td>
                <td th:text="${request?.priority}"></td>
                <td th:text="${request?.operator?.username}"></td>
                <td>
                    <a th:href="'/requests/' + ${request?.id}">Просмотреть</a>
                </td>
                <td th:if="${#sets.contains(user.roles, 'ROLE_OPERATOR')}">
                    <a th:href="'/requests/close/' + ${request?.id}">Завершить</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div th:insert="blocks/footer"></div>
    </body>
</html>