<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8" content="text/html">
        <title>Пользователи</title>
        <link th:href="@{../css/bootstrap.css}" rel="stylesheet" type="text/css"/>
        <script th:src="@{../js/jQuery.js}" rel="script" type="text/javascript"></script>
    </head>

    <body>
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-15">
                        <div class="card">
                            <div class="card-header">Пользователи</div>
                            <div class="card-body">
                                <div th:if="${messageIsExist}" class="warning-message form-group row">
                                    <label th:text="${message}" class="offset-md-5 text-md-center"></label>
                                </div>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Имя</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Роли</th>
                                        <th scope="col">Активация</th>
                                        <th scope="col">Блокировка</th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user: ${users}">
                                        <th scope="row" th:text="${user?.id}"></th>
                                        <td th:text="${user?.username}"></td>
                                        <td th:text="${user?.email}"></td>
                                        <td th:text="${user?.roles}"></td>
                                        <td th:text="${user?.enabled}"></td>
                                        <td th:text="${user?.locked}"></td>
                                        <td>
                                            <form th:method="get" th:action="@{/admin/users/} + ${user?.id}">
                                                <input style="width: 25%" class="panel-button" type="image" th:src="@{../img/loupe.png}" alt="">
                                            </form>
                                        </td>
                                        <td>
                                            <form th:method="post" th:action="@{/admin/deleteUser/} + ${user?.id}">
                                                <input style="width: 25%" class="panel-button" type="image" th:src="@{../img/trash.png}" alt="">
                                            </form>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>