<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <p class="col-md-4 mb-0 text-muted">© 2022 HelpDesk by Danil Krivoschiokov</p>

            <a href="#" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                <img class="img-fluid" th:src="@{~/img/help.png}" style="max-height: 3vw">
            </a>

            <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">На главную</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Команда</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">О нас</a></li>
            </ul>
        </footer>
    </div>

</html>