<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<footer th:fragment="footer" class="footer-basic">
    <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Домой</a></li>
        <li class="list-inline-item"><a href="#">Нашли ошибку?</a></li>
        <li class="list-inline-item"><a href="#">О нас</a></li>
    </ul>
    <p class="copyright">Danil Krivoschiokov © 2022</p>
</footer>

</html>